<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2{{ app.request.get('_route') == 'dashboard' ? ' active'}}" aria-current="page" href="{{ path('dashboard') }}">
                <svg class="bi"><use xlink:href="#house-fill"/></svg>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2{{ 'app_produits_' in app.request.get('_route') ? ' active'}}" href="{{ path('app_produits_index') }}">
                <svg class="bi"><use xlink:href="#cart"/></svg>
                Produits
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2{{ 'app_clients_' in app.request.get('_route') ? ' active'}}" href="{{ path('app_clients_index') }}">
                <svg class="bi"><use xlink:href="#people"/></svg>
                Clients
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2{{ 'app_ventes_' in app.request.get('_route') ? ' active'}}" href="{{ path('app_ventes_index') }}">
                <svg class="bi"><use xlink:href="#people"/></svg>
                Ventes
              </a>
            </li>
          </ul>
          <hr class="my-3">
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_logout') }}">
                <svg class="bi"><use xlink:href="#door-closed"/></svg>
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>